header, footer{
color: white;
background-color: #312c32;
margin: 0em 4em 0.5em 4em;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    background-color: #98dafc;
}

h1, h2, h3, nav, footer{
    font-family: 'Trebuchet MS', 'Lucida Grande', Tahoma, sans-serif;
}

h1{
    font-size: 1.5em;
}

h2{
    font-size: 0.75em;
}

h3{
    font-size: 1.125em;
}

nav{
    font-size: 1.125em;
}

a:link{
    color: #98dafc;
    font-weight: bold;
}

a:visited{
    color: #daad86;
}

a:hover{
    color: #ffffcc;
}

img.crystals{
    border: solid black;
    padding: 0.25em 0.25em 0.25em 0.25em;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

div.socials{
    background-image: url(images/gray-gradient.png);
    height: 50px;
    border-radius: 25px;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
}

div.wcolor{
    background-color: white;
    margin: 0em 4em 0.5em 4em;
    
}

p.artist, figcaption.fig, p.name{
    font-family: 'Trebuchet MS', 'Lucida Grande', Tahoma, sans-serif;
    font-style: italic;
    font-size: small;
    color: darkgrey;
}

p.photo, p.review{
    font-family: 'Trebuchet MS', 'Lucida Grande', Tahoma, sans-serif;
    font-size: medium;
}

p.review{
    border-bottom: 1px dotted black;
}

h3{
    border-bottom: 1px solid black;
}

div.rphotos{
    margin-top: 8px;
    margin-bottom: 8px;
}

div.bob{
    margin-top: 8px;
    margin-bottom: 12px;
}

div.alice{
    margin-bottom: 12px;
}
p.artist{
    margin-top: 8px;
}

p.photo{
    margin-top: 4px;
    margin-bottom: 4px;
}