fieldset{
    background-color: burlywood;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 550;
    font-size: small;
    margin: 10px;

}

table{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: auto;
    margin-left: auto;
    width: 180px;
    
    
}
caption{
    background-color: steelblue;
    font-weight: bold;
}
thead{
    font-size: smaller;
    background-color: #cacaca;
    padding: 5px;
    height: 20px;
  
}
tbody{
    font-size: small;
    background-color: #cacaca;
    padding: 10px;
}
tfoot{
    background-color: #cacaca;
    font-size: smaller;
}
#today{
    background-color: aqua;
}
td:hover{
    background-color: red;
}