body{
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 0.9em;
    overflow: scroll;

}
h1{
    font-size: 1.8em;
}
h2{
    font-size: 1.2em;
}
p{
    font-size: 0.9em;
}
header#masthead{
    margin: 2em 5em 2em 5em;
    height: 45px;
}
div.footer-related{
    float: left;
}
footer{
    background-color:#474747  ;
    color:  #F5F5F5;
}
article#right-sidebar{
    height: 600px;
    float: left;
    
}

article#center{
    margin-left: 20em;
    margin-right: 5em;
    margin-bottom: 2em;
    height: 600px;
    clear: none;
}
}
.linkbutton{
    float: right;
    background-color: #ff8800 ;
    color: white;
    display: block;
}
img.overlayed{
    position: absolute;
}

figure{
    position: relative;
    float: left;
}
figcaption{
    position: absolute;
    background-color: #474747;
    color: white;
}
