body{

    font-weight: 550;
    font-size: large;
   
}
form{
    margin-right: 500px;
    margin-left: 500px;
    background-color: white;
    
  
}



.submit{
    background-color: white;
    color: black;
    padding: 16px 20px;
    margin: 8px;
    border: none;
    width: 100%;
    font-size: medium;
    font-weight: 550;
   
}
.clear{
    background-color: white;
    color: black;
    padding: 16px 20px;
    margin: 8px;
    border: none;
    width: 100%;
    font-size: medium;
    font-weight: 550;
   
}
.submit:hover, .clear:hover{
    background-color: #ddd;
}
#password, #email, #fname, #lname, #confirmpassword {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: white;
    font-weight: 550;
    color: black;
    border: solid;
    border-style: groove;
    
  
    
  }
#password:focus, #email:focus, #fname:focus, #lname:focus, #confirmpassword:focus {
    background-color: #ddd;
    outline: none;
  }
  .checkrules{
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
  }
  a:hover{
      color: chocolate;
  }
  a:visited{
      color: white;
  }
  
  #sign{
      float: right;
      padding-right: 10px;
      background-color: chocolate;
      
  }
  #main{
    padding-left: 10px;
    background-color: chocolate;
 
  }
#fnerror, #lnerror, #emailerror, #passerror, #checkerror, #confirmerror{
    font-size: small;
    color: red;
}
h1{
   
    text-align: center;
}
#back{
    
    text-align: center;
}
#top{
    background-color: black;
    color: white;
    padding-bottom: 20px;
    padding-top:  20px; ;
}
#footer{
    background-color: black;
    position: fixed;
    width: 100%;
}
#image{
    text-align: center;
}
